<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro Produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-button (click)="abreModalCadastroFornecedor()" expand="block" class="ion-padding">Cadastro de Fornecedores</ion-button>
    <ion-button (click)="abreModalCadastroProduto()" expand="block" class="ion-padding">Cadastro de Produtos</ion-button>
  </ion-content>
</ion-content>
