<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listagem de Produtos</ion-title>
    </ion-toolbar>
  </ion-header>




  <ion-grid>
    <ion-row>
        <ion-col size="1">id</ion-col>
        <ion-col >Nome</ion-col>
        <ion-col class="ion-hide-sm-down">Quantidade em Estoque</ion-col>
        <ion-col class="ion-hide-md-down">Fornecedor</ion-col>
    </ion-row>


      <ion-row *ngFor="let produto of produtos" (click)="abreModal(produto.id)" class="ion-padding">
        <ion-col size="1" >{{produto.id}}</ion-col>
        <ion-col>{{ produto.nome }}</ion-col>
        <ion-col class="ion-hide-sm-down">{{ produto.estoque }}</ion-col>
        <ion-col class="ion-hide-md-down">{{ produto.fornecedor.razaoSocial }}</ion-col>
      </ion-row>
  </ion-grid>


</ion-content>
